* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body { 
background: url("/IPL_MyApp/images/Sydney-cricket-ground.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.navbar-nav > li > a {padding-top:0px !important; padding-bottom:5px !important;}
.navbar {min-height:55px !important}
#navlist {
    margin:auto;
    padding-top:20px;
    color:white;
    font-size:20px;
}
#ipllogo{
    margin-top:0px;
    margin-bottom:10px;
}
.team-list{
list-style:none;
	margin-top:70px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 1;
	font-size: 0;
}
.all-teams.vissible .team-list{
    opacity:1;
    transition:1s;
    pointer-events:auto;
}

.team-list >li{
   box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #dbe3e7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 12px 0;
	padding: 30px;
}
.team-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}

/* the team image*/

 .team-list .team-photo{
     display:block;
     box-shadow : 0 0 20px 8px #f3f3f3 inset;

	width: 300px;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
 }
 .team-list .highlight{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.1);
	opacity: 0;
	transition: 0.4s;
}
.team-list .team-description{
	margin-top: 20px;

	color: #5d5d5d;
	font-size: 12px;
	line-height: 1.45;
	white-space: normal;

	max-width: 260px;
	margin-bottom: 20px;

	list-style: none;
}

.team-list > li:hover .highlight{
	opacity: 1;
}
.team-description{
    text-align: center;
    font-size:1em;
}
.team-list .team-description li{
	display: inline-block;
	margin-right: 10px;
    margin-top:10px;
    
}



.team-list .team-description li span{
    display: block;
	font-weight: bold;
    
}

/*Making the list responsive */
@media(max-width:800px){
    .team-list .team-photo{
		width: 225px;
	}
	.team-list .team-description{
		max-width:225px;
	}
}
/*---------------------------
	Single team Page
----------------------------*/

.single-team{
	z-index: 100;
}

.overlay{
	height: 20px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #282b2c;
	transition: 0.6s;
	z-index: 100;
}

.single-team.visible .overlay{
	height: 100%;
}

.preview-large{
	box-sizing: border-box;
	width: 760px;
	height: 550px;
	position: fixed;
	left: 50%;
	margin-left: -375px;
	top: 50%;
	margin-top: -275px;
	pointer-events: none;

	border-radius: 6px;
	background-color:  #ffffff;

	z-index: 102;
	opacity: 0;
	transition: 0.4s;

}

.single-team.visible .preview-large{
	opacity: 1;
	transition: 1.4s;
	pointer-events: auto;
}

.preview-large h3{
	margin-top: 20px;
}

.preview-large img{
	width: 100%;
	height: 280px;
	border-bottom: 3px solid #efefef;
	border-radius: 5px 5px 0 0;
}

.preview-large p{
	line-height: 23px;
	padding: 50px 45px;
}

.close{
	position: absolute;
	right: 25px;
	top: 15px;

	font-size: 28px;
	color: #555;
	cursor: pointer;
}


/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}
.inner {
	margin-top:200px ;
}
.inner img{
	width:300px;
	height:300px;
}