* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*background image*/
body { 
background: url("/IPL_MyApp/images/Sydney-cricket-ground.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
/* Navbar components*/
.navbar-nav > li > a {padding-top:0px !important; padding-bottom:5px !important;}
.navbar {min-height:55px !important}
#navlist {
    margin:auto;
    padding-top:20px;
    color:white;
    font-size:20px;
}
#ipllogo{
    margin-top:0px;
    margin-bottom:10px;
}
/*displaying .team-list*/
.team-list{
list-style:none;
	margin-top:70px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 1;
	font-size: 0;
}
.all-teams .team-list{
    opacity:1;
    transition:1s;
    pointer-events:auto;
}

.team-list >li{
   box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #e3ebe3;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 12px 0;
	padding: 30px;
}

/* the team image*/

 .team-list .team-photo{
     display:block;
     box-shadow : 0 0 20px 8px #f3f3f3 ;

	width: 300px;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
 }
 .team-list .highlight{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.25);
	opacity: 0;
	transition: 0.4s;
}
.team-list .team-description{
	margin-top: 20px;

	color:black;
	font-size: 12px;
	line-height: 1.8;
	white-space: normal;

	max-width: 260px;
	margin-bottom: 20px;

	list-style: none;
}

.team-list > li:hover .highlight{
	opacity: 1;
}
.team-description{
    text-align: center;
    font-size:1em;
}
.team-list .team-description li{
	display: inline-block;
	margin-right: 10px;
    margin-top:10px;
    
}



.team-list .team-description li span{
    display: block;
	font-weight: bold;
    
}

/*Making the team list responsive */
@media(max-width:800px){
    .team-list .team-photo{
		width: 225px;
	}
	.team-list .team-description{
		max-width:225px;
	}
	.inner img{
		width:200px;
		height: auto;
	}
}
.inner {
	margin-top:200px ;
}
.inner img{
	width:300px;
	height:auto;
}
/*player list*/
.player-list{
list-style:none;
	margin-top:5px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 1;
	font-size: 0;
}
.team-info .player-list{
    opacity:1;
    transition:1s;
    pointer-events:auto;
}

.player-list >li{
   box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #dbe3e7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 12px 0;
	padding: 30px;
}
/*player image*/
 .player-list .player-photo{
     display:block;
     box-shadow : 0 0 20px 8px #f3f3f3 ;

	width: 250px;
	height:auto;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
 }
 .player-list .highlight{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.25);
	opacity: 0;
	transition: 0.4s;
}
.player-list .player-description{
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 1.5em;
	line-height: 1.45;
	white-space: normal;

	max-width: 260px;
	margin-bottom: 20px;

	list-style: none;
}

.player-list > li:hover .highlight{
	opacity: 1;
}
.player-description{
    text-align: center;
    font-size:1em;
}
.player-list .player-description li{
	display: inline-block;
	margin-right: 10px;
    margin-top:10px;
    
}



.player-list .player-description li span{
    display: block;
	font-weight: bold;
    
}
.player-photo img{
	 width: 220px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

/*Making the list responsive */
@media(max-width:800px){
    .player-list .player-photo{
		width: 225px;
	}
	.player-list .player-description{
		max-width:225px;
	}
}

/*Making modal responsive*/
@media (max-width: 800px) {
  .modal { width: 300px; }
  .modal-body table {
	  width:300px;
  }
  .player-image{width:100px;}
  .overlay{width:200px;}

}
/*.modal-content{
	margin-left:100px;
	margin-right:75px;
}
.modal-header{
	margin-left:30px;
}*/

.overlay > li{
	 margin:30px;
}
.jumbotron {
    height: 500px !important;
	margin-top:40px;
}
.team-display{
	font-size:1.2em;
	color: white;
	margin-top:310px;

}